<!-- <footer>
  <div class="content-padding">
    <div class="footer-content">
      <p>Dexter Moran<p>
      <div class="social-media-icons">
        <a href="https://github.com/dextermoran/node-a-long-" <i class="fa fa-empire"></i></a>
      </div>
    </div>
  </div>
</footer> -->
